# MONGODB_URI = mongodb://user:pass@localhost:27017/document?authSource=auth

DB_HOST=mongodb.net
DB_USER=user_db
DB_PASSWORD=password_db
DB_NAME=ChargeFinder
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me
ADMIN_NAME=Admin
ADMIN_REGION=Jakarta
BATTERY_CAPACITY_DEFAULT=
